body {
  font-family: "fontello";
}

:root {
  --icon-color: #339af0;
}

.bg-grey {
  background: #f7f7f7;
}

/* GENERAL BANNER */

#banner {
  height: 50vh;
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(/images/banner.webp);
  background-size: cover;
}

.banner-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* GENERAL NAVIGATION BAR */

.navbar {
  border-bottom: 2px solid #dee2e6;
}

#nav-bar .container .navbar-brand {
  border-left: 1px solid #dee2e6;
  padding-left: 1rem;
  width: 10rem;
  text-align: center;
}

#nav-bar .container {
  justify-content: center;
}

#nav-bar .container > *:last-child {
  border-right: 1px solid #dee2e6;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

#nav-bar {
  position: relative;
}

.icon-nav {
  color: var(--icon-color);
  margin-left: 8px;
}

.nav-img::before {
  content: "avatar";
  visibility: hidden;
}

.img-avatar {
  position: absolute;
  width: 113px;
  height: 113px;
  border: 8px solid #fff;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

/* GENERAL ABOUT */

#personal-info ul {
  list-style: none;
  line-height: 3;
  padding: 0;
}

.icon-about {
  margin-right: 14px;
  color: #339af0;
}

/* GENERAL JOB INFO */

.section-ul {
  list-style: none;
}

.section-ul li {
  position: relative;
}

.section-ul li::before {
  position: absolute;
  content: "";
  background-color: #339af0;
  left: -24px;
  top: 8px;
  border-radius: 8px;
  width: 8px;
  height: 8px;
}

.em-detail {
  background-color: #339af0;
  color: #fff;
  padding: 2px 14px;
  border-radius: 14px;
}

/* GENERAL HOBBY */

.ic-megaphone,
.ic-strategy,
.ic-hotairballoon,
.ic-basket {
  color: var(--icon-color);
  border-color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 50%;
}

/* GENERAL LANGUAGLE */

.progress-item {
  display: inline-block;
  background: #339af0;
  width: 45px;
  height: 2px;
  margin-right: 10px;
}

.progress-grey {
  background: #ced4da;
}

/* GENERAL CERTIFICATE */

.line-border {
  border-bottom: 1px solid #d6c08d;
}

.line-border-left {
  border-left: 1px solid #d6c08d;
}

/* GENERAL PROJECT */

.project-title {
  border: 1px solid #dee2e6;
  border-bottom: none;
  font-weight: 600;
}

.project-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #dee2e6;
  border-bottom: none;
}

.project-time {
  text-align: center;
}

table,
td {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

td {
  padding: 0.5rem 1rem;
  text-align: left;
}

.td-col1 {
  width: 30%;
}

/* GENERAL FOOTER */

#footer .container {
  width: 65%;
  padding: 3rem 0;
}

.footer-detail {
  font-size: 18px;
}

.footer-item {
  display: flex;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.ic-footer {
  margin-left: 16px;
  margin-right: 4px;
  color: #339af0;
  font-size: 36px;
}

/* DIGITAL - CV */

.project-charter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.project-charter .goals {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.project-charter .scopes {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}

.project-charter .team {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.project-charter .primary {
  grid-column: 3 / 4;
  grid-row: 4 / 6;
}

.project-charter .timeline {
  grid-column: 4 / 5;
  grid-row: 1 / 6;
}

.timeline-number {
  border: 1px solid #0d6efd;
  border-radius: 50%;
  background-color: plum;
}

.project-border {
  border-bottom: 3px dotted skyblue;
}
