@media (max-width: 768px) {
  .nav-img {
    display: none;
  }

  #nav-bar .container {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #nav-bar .container .navbar-brand {
    text-align: left;
    border: none;
  }

  .navbar-brand i {
    float: left;
    margin-right: 0.5rem;
  }

  .line-border-left {
    border-left: none;
  }

  .project-detail {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    padding-left: 1rem;
  }

  .project-time {
    text-align: left;
  }

  .project-charter {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .project-charter .goals,
  .project-charter .scopes,
  .project-charter .team,
  .project-charter .primary,
  .project-charter .timeline {
    grid-column: span 1;
  }
  .project-charter .goals {
    grid-row: 1/2;
  }

  .project-charter .scopes {
    grid-row: 2/3;
  }

  .project-charter .team {
    grid-row: 3/4;
  }

  .project-charter .primary {
    grid-row: 4/5;
  }

  .project-charter .timeline {
    grid-row: 5/6;
  }

  .icon-goal {
    display: none;
  }

  .icon-team {
    display: none;
  }
}
